@using dotnetNewProject.Models
@model Player

<ul>
@foreach (var player in ViewData["players"] as IList<Player>)
{
    <li>
        @player.PlayerFirstName
    </li>
   
}
<div>
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PlayerFirstName)
    </dt>
  @ViewBag.name
</div>