@model dotnetNewProject.Controllers.Person;


@{
    @* var x = 1 + 3; *@
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p> @Model.Name </p>
</div>



@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   
    <p> <a asp-action="Login">Registration form</a>   </p>
</div>

