@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

@using  (Html.BeginForm("Login", "Home"))
{
    <div>
        Username: @Html.TextBox("Username")
    </div>
     <div>
        Password: @Html.Password("Password")
    </div>
     <div>
        <input type="submit" value="Login"/>
    </div>
}

@{
    ViewBag.Title = "Login";
}
